
.main-header{
  .clearfix;
  padding: .5rem 2%;
}

.main-header__cta{
  float: right;
  background: @pink;
  border-radius: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 2em;
  padding: 0 16px;
  &:hover{
    background: lighten(@pink, 10%);
  }
}


.main-nav{
    margin-bottom: 2rem;
  .clearfix;
  float: left;
  ul{
    list-style: none;
    float: left;
    .clearfix;
    li{
      float: left;
    }
  }
  a{
    color: #fff;
    font-weight: 600;
    line-height: 2em;
    padding: 0 12px;
    padding: 0 3vw;
    &:hover{
      color: @pink;
    }
  }
}


.hero{
  width: 100%;
  min-height: 80vh;
  background-image: url(../img/grid.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  z-index: 100;
  position: relative;
}


.hero__container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111111+0,111111+100&0+0,1+100 */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(17,17,17,0) 0%, rgba(17,17,17,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(17,17,17,0) 0%,rgba(17,17,17,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(17,17,17,0) 0%,rgba(17,17,17,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00111111', endColorstr='#111111',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.hero h1{
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: @badass-font;
  margin-bottom: 2rem;
}



.sketchfab-embed-wrapper{
  margin: 0 auto;
}

.content-block + .content-block{
  margin-top: 4rem;
}

.content-block__title{
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: @badass-font;
}

.copy{
  font-size: 1.2em;
  line-height: 1.618em;
  width: 600px;
  max-width: 90%;
  margin: 2rem auto;
}

.figure{
  display: block;
  width: 680px;
  max-width: 100%;
  margin: 2rem auto;
  img{
    width: 100%;
  }
}

.caption{
  font-size: .875rem;
  padding: 0 2%;
  span{
    margin-right: 10px;
  }
  a{
    color: @blue;
    white-space: nowrap;
    i{
      font-size: 1.2em;
      vertical-align: middle;
    }
  }
}


.stardust{
  background-image: url(../img/stardust.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
}
